*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #808080;
    background: rgba(128,128,128,0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.clearfix {
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  display: inline-block;
}

html[xmlns] .clearfix {display: block;
}

* html .clearfix {
  height: 1%;
}

body > .row {
  max-width: 90%;
  width: 1200px;
  padding-top: 10px;
  margin-bottom: 80px;
}

.top-bar {
  margin-bottom: 0;
}

span.split {
  &.button {
    background-color: #008CBA;
    padding-right: 3.5em;
  }
  a {
    color: #fff;
    display: block;
  }
}

ul.f-dropdown .divider {
  border-bottom: 1px solid #ccc;
}

.large-0 {
  width: auto;
  &[class*="column"] + [class*="column"]:last-child {
    float: left;
  }
}

.button-group {
  margin-left: 2px;
}

span {
  &.button.three-state-checker {
    font-size: 1.1em;
    padding: 0.36rem 1.25rem;
  }
  &.three-state-checker {
    i {
      display: none;
    }
    &[data-state=all] i.all, &[data-state=none] i.none, &[data-state=some] i.some {
      display: inline;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  z-index: -1;
  .row {
    margin-bottom: 0;
    padding-top: 0;
  }
  a {
    color: #fff;
  }
  h1 {
    font-size: 18px;
    color: #fff;
  }
  p {
    font-size: 12px;
  }
}

body.scroll .footer {
  position: relative;
  margin-top: 100px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.red {
  color: #f04124;
}

.green {
  color: #3c9a5f;
}

.small-text {
  font-size: 0.9rem;
  p {
    font-size: 0.9rem;
  }
}

.progress.round .meter {
  font-size: 0.8em;
  padding: 3px 10px;
  color: #fff;
  text-align: right;
}

textarea {
  height: 200px;
}

small.info {
  display: block;
  margin-top: -1rem;
  padding: 0.375rem 0.5625rem 0.5625rem;
  background: #e7e7e7;
  border: 1px solid #ccc;
  color: #666;
  font-size: 0.75rem;
  font-style: italic;
}

ul.no-style {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.capitalize {
  text-transform: capitalize;
}

.inline-checkbox {
  display: inline-block;
  margin-right: 1em;
  input[type=checkbox] {
    margin-bottom: 0;
  }
}

.projects .panel {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5em;
  > .row {
    padding-top: 0;
  }
  h3 {
    margin-top: 0;
    font-size: 1em;
    font-weight: bold;
  }
}

#search {
  width: 300px;
}

a.quickview-delay {
  cursor: progress;
}

.quickview {
  width: 60em;
  color: #666;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  font-size: 0.8em;
  line-height: 1.5em;
  border-radius: 0;
  position: absolute;
  padding: 1em;
  z-index: 999;
  &:after {
    width: 10px;
    height: 10px;
    display: block;
    border: solid 5px;
    border-color: transparent transparent black transparent;
    z-index: 10;
    top: -10px;
    left: 0;
    position: absolute;
  }
  hr {
    margin: 0.5rem 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  p, ul, ol {
    font-size: 14px;
    margin-bottom: 0;
  }
  #timeline {
    margin-top: 2em;
    .panel {
      padding: 0.5em;
      background-color: #fff;
      small {
        float: none !important;
        font-size: 1em;
        font-weight: bold;
        &:before {
          content: 'Op ';
          font-weight: normal;
        }
        &:after {
          content: ' is er een reactie geplaatst';
          font-weight: normal;
        }
      }
      strong {
        &:before {
          content: ' door ';
          font-weight: normal;
        }
        &:after {
          font-weight: normal;
        }
      }
    }
  }
}

#timeline {
  font-size: 0.9em;
  margin-bottom: 1em;
  .issueaction {
    margin: 1em 0 0;
  }
  .panel {
    padding: 1.25rem;
  }
  .ChangeState i, .Change i, .Pickup i {
    font-size: 2em;
    margin: 0.3em 0.6em;
  }
  .ChangeState .small-11 {
    margin-top: 1.1em;
  }
  .Change, .Pickup {
    .small-11 {
      margin-top: 1.1em;
    }
    i {
      color: #0079a1;
    }
  }
}

table {
  width: 100%;
  input[type="text"] {
    margin-bottom: 0;
  }
  thead {
    background-color: #e7e7e7;
  }
  .row.collapse {
    padding: 0;
  }
  i {
    font-size: 18px;
  }
  td {
    input[type=checkbox] {
      margin-bottom: 0;
      margin-top: 0.1em;
    }
    &.checkbox {
      width: 20px;
    }
  }
  tbody tr:hover {
    background-color: #f3f3f3;
  }
  &.row-clickable tbody {
    tr {
      &:hover {
        background-color: #eee;
      }
      &.cancelled {
        background-color: #FFCCCC;
      }
      &.highlight {
        background-color: #fffeb6;
      }
    }
    td:hover {
      cursor: pointer;
    }
  }
}

.container {
  max-width: 100%;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.lt-ie9 {
    .top-bar {
        background: #2f2f2f;
        overflow: visible;
        *zoom: 1;

        &:before {
            content: " ";
            display: table;
        }

        &:after {
            content: " ";
            display: table;
            clear: both;
        }

        .toggle-topbar {
            display: none;
        }

        .title-area {
            float: left;
        }

        .name h1 a {
            width: auto;
        }

        input, .button {
            font-size: 0.875em;
            height: 2em;
            line-height: 2em;
            padding: 0 10px;
            position: relative;
            top: 8px;
        }

        &.expanded {
            background: #111111;
        }
    }

    .contain-to-grid .top-bar {
        margin: 0 auto;
        max-width: 57.5em;
    }

    .top-bar-section {
        -moz-transition: none 0 0;
        -webkit-transition: none 0 0;
        left: 0 !important;
        -o-transition: none 0 0;
        transition: none 0 0;

        ul {
            display: inline;
            height: auto !important;
            width: auto;

            li {
                float: left;

                > a {
                    padding-right: 14px !important;
                }

                .js-generated {
                    display: none;
                }
            }
        }

        li a:not(.button) {
            background: #111111;
            line-height: 45px;
            padding: 0 15px;

            &:hover {
                background: #2b2b2b;
            }
        }

        .has-dropdown {
            > a {
                padding-right: 35px !important;

                &:after {
                    border: solid 5px;
                    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
                    content: "";
                    display: block;
                    height: 0;
                    margin-top: -2.5px;
                    width: 0;
                }
            }

            &.moved {
                position: relative;

                > .dropdown {
                    visibility: hidden;
                }
            }

            &:hover > .dropdown, &:active > .dropdown {
                visibility: visible;
            }

            .dropdown li.has-dropdown > a:after {
                border: none;
                content: "\00bb";
                margin-top: -7px;
                right: 5px;
            }
        }

        .dropdown {
            background: transparent;
            left: 0;
            top: auto;

            li {
                a {
                    background: #1e1e1e;
                    line-height: 1;
                    padding: 7px 15px;
                    white-space: nowrap;
                }

                label {
                    background: #1e1e1e;
                    white-space: nowrap;
                }

                .dropdown {
                    left: 100%;
                    top: 0;
                }
            }
        }

        > ul > .divider {
            border-bottom: none;
            border-left: solid 1px black;
            border-right: solid 1px #2b2b2b;
            border-top: none;
            clear: none;
            height: 45px;
            width: 0;
        }

        .has-form {
            background: #111111;
            height: 45px;
            padding: 0 15px;
        }

        ul.right li .dropdown {
            left: auto;
            right: 0;

            li .dropdown {
                right: 100%;
            }
        }
    }
}

.filter-row {
  .chosen-container {
    margin-bottom: 0;
  }
  .filter-labels span {
    margin-left: 0.6em;
  }
  .button {
    font-size: 0.8em;
  }
}

.filters {
  .button.active {
    background-color: #b9b9b9;
    color: #333;
  }
  .f-dropdown {
    li {
      position: relative;
    }
    a {
      position: relative;
      height: 2.5em;
    }
    &.labels a i {
      position: absolute;
      left: 0.7em;
      top: 0.7em;
    }
    .remove-filter {
      position: absolute;
      top: 0;
      right: 0;
    }
    a span {
      position: absolute;
      left: 3em;
    }
  }
}

.tablesorter .header {
  cursor: pointer;
  padding-right: 26px;
  position: relative;
  &:hover {
    background-color: #ddd;
  }
  &:before, &:after {
    font-family: "FontAwesome";
    font-size: 12px;
    position: absolute;
    right: 9px;
  }
  &:before {
    content: "\f0d8";
    top: 5px;
  }
  &:after {
    content: "\f0d7";
    top: 11px;
  }
  &.headerSortDown:after, &.headerSortUp:before {
    display: none;
  }
}

.comments-container {
  position: relative;
  &::before, &::after {
    content: 'Comments';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    z-index: 100;
    font-size: 40px;
    opacity: 0.25;
  }
  &::after {
    top: inherit;
    right: inherit;
    bottom: 20px;
    left: 20px;
  }
  &.edit {
    &::before, &::after {
      content: 'Edit mode';
    }
    .comments {
      display: none;
    }
    textarea {
      display: block;
    }

  }
  textarea {
    display: none;
    z-index: 99;
  }
  .comments {
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1rem;
  }
}

.colorpicker-open.button.postfix {
  padding-top: 3px;
  margin: 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #ccc;
}

.colorpicker-popup {
  background-color: #e7e7e7;
  width: 180px;
  padding: 10px 5px 5px 10px;
  border: 1px solid #ccc;
  z-index: 99;
  h2 {
    font-size: 16px;
    font-weight: bold;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0 5px 5px 0;
      a {
        display: block;
        width: 13px;
        height: 13px;
        text-decoration: none;
        text-indent: -9999px;
        outline: 0;
        border: 1px solid #aaa;
        &:hover {
          border-color: #000;
        }
      }
    }
  }
}

.row.filters {
  margin-bottom: 1em;
}

.issues {
  border-top: 1px solid #ccc;
}

.issue {
  padding: 1em 1em 0.2em;
  border-bottom: 1px solid #ccc;
  border-left: 3px solid #008CBA;
  &.touched {
    border-left-color: transparent;
  }
  &.Archived {
    opacity: 0.2;
    &:hover {
        opacity: 1;
    }
  }
  &:hover {
    background-color: #efefef;
  }
  .issuestate {
    .number {
      font-size: 1.2em;
      font-weight: bold;
    }
    i {
      font-size: 1.6em;
    }
  }
  .namerow a {
    margin-right: 0.5em;
  }
  .detailsrow {
    font-size: 0.8em;
  }
  .comments {
    font-size: 0.8em;
    i {
      font-size: 1.4em;
    }
  }
}

.issueaction {
  &:not(.Comment), &.Comment .panel {
    border-left: 3px solid #008CBA;
  }
  &.touched {
    &:not(.Comment) {
      border-left-color: transparent;
    }
    &.Comment .panel {
      border-left: 1px solid #d8d8d8;
    }
  }
}

#group-actions {
  select {
    height: 2.0625rem;
    font-size: 0.775rem;
  }
  label {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
}

body.admin table#issue-table th {
  &#issue-hours {
    width: 50px;
  }
  &#issue-cost {
    width: 90px;
  }
  &#issue-actions {
    width: 170px;
  }
}

table#issue-table {
  th#issue-estimate, td.estimate {
    display: none;
  }
}

@media only screen and (max-width: 64em) {
  .large-0.small-12 {
    width: 100% !important;
    margin-bottom: 0.5em;
    > * {
      width: 100%;
    }
  }
  table {
    &.small-blocks {
      display: block;
      thead {
        display: block;
      }
      tbody {
        display: block;
        tr {
          display: block;
        }
      }
      thead tr th, tbody tr td {
        display: block;
      }
      border: none;
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ddd;
        margin-bottom: 1em;
        position: relative;
      }
      tbody tr td {
        border: none;
        position: relative;
        padding-top: 0;
      }
      td {
        &.id {
          position: absolute;
          z-index: 9;
          top: 0.6em;
          left: 1em;
          font-size: 1.5em;
          &:after {
            content: ':';
          }
        }
        &.check {
          position: absolute;
          z-index: 9;
          top: 1em;
        }
        &.name {
          font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
          font-size: 1.5em;
          padding-right: 0;
          padding-top: 0.375em;
          line-height: 1.1em;
          background-color: #e7e7e7;
          margin-bottom: 0.5em;
          text-indent: 3em;
        }
      }
    }
    &#issue-table.small-blocks td {
      &.estimate {
        display: block;
      }
      &.devvers, &.hours {
        display: none;
      }
    }
    &.small-blocks td {
      &.createdby:before {
        content: "Aanmelder: ";
      }
      &.devvers:before {
        content: "Developers: ";
      }
      &.hours:before {
        content: "Tijd: ";
      }
      &.estimate:before {
        content: "Schatting: ";
      }
      &.comments:before {
        content: "Reacties: ";
      }
      &.labels:before {
        content: "Labels: ";
      }
      &.state:before {
        content: "Voltooid: ";
      }
      &.customer:before {
        content: "Klant: ";
      }
      &.repository:before {
        content: "Repository: ";
      }
      &.milestone:before {
        content: "Milestone: ";
      }
      &.admin:before {
        content: "Admin: ";
      }
      &.phone:before {
        content: "Telefoonnummer: ";
      }
      &.email:before {
        content: "Emailadres: ";
      }
      &.notifications:before {
        content: "Notificaties: ";
      }
      &.freckle:before {
        content: "Freckle project: ";
      }
      &.login:before {
        content: "Username: ";
      }
    }
  }
}