.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.row {
  max-width: 90%;
  width: 1200px;
  padding-top: 10px;
}


.top-bar {
  margin-bottom: 0;
}


.no-margin {
  margin: 0;
}

.red {
  color: #f04124;
}

.green {
  color: #43ac6a;
}

.progress.round .meter {
  font-size: 0.8em;
  padding: 3px 10px;
  color: #fff;
  text-align: right;
}

textarea {
  height: 200px;
}

table {
  width: 100%;
}

table thead {
  background-color: #e7e7e7;
}

table i {
  font-size: 18px;
}

table td input[type=checkbox] {
  margin-bottom: 0;
  margin-top: 0.1em;
}

table td.checkbox {
  width: 20px;
}

table.row-clickable tbody tr:hover {
  background-color: #eee;
}

table.row-clickable tbody tr.cancelled {
  background-color: #FFCCCC;
}

table.row-clickable tbody tr.highlight {
  background-color: #fffeb6;
}

table.row-clickable tbody td:hover {
  cursor: pointer;
}

.container {
  max-width: 100%;
}


.content {
  margin: 0 auto;
  width: 960px;
}

.lt-ie9 .top-bar {
  background: #2f2f2f;
  overflow: visible;
  *zoom: 1;
}

.lt-ie9 .top-bar:before, .lt-ie9 .top-bar:after {
  content: " ";
  display: table;
}

.lt-ie9 .top-bar:after {
  clear: both;
}

.lt-ie9 .top-bar .toggle-topbar {
  display: none;
}

.lt-ie9 .top-bar .title-area {
  float: left;
}

.lt-ie9 .top-bar .name h1 a {
  width: auto;
}

.lt-ie9 .top-bar input,
.lt-ie9 .top-bar .button {
  font-size: 0.875em;
  height: 2em;
  line-height: 2em;
  padding: 0 10px;
  position: relative;
  top: 8px;
}

.lt-ie9 .top-bar.expanded {
  background: #111111;
}

.lt-ie9 .contain-to-grid .top-bar {
  margin: 0 auto;
  max-width: 57.5em;
}

.lt-ie9 .top-bar-section {
  -moz-transition: none 0 0;
  -webkit-transition: none 0 0;
  left: 0 !important;
  transition: none 0 0;
}

.lt-ie9 .top-bar-section ul {
  display: inline;
  height: auto !important;
  width: auto;
}

.lt-ie9 .top-bar-section ul li {
  float: left;
}

.lt-ie9 .top-bar-section ul li > a {
  padding-right: 14px !important;
}

.lt-ie9 .top-bar-section ul li .js-generated {
  display: none;
}

.lt-ie9 .top-bar-section li a:not(.button) {
  background: #111111;
  line-height: 45px;
  padding: 0 15px;
}

.lt-ie9 .top-bar-section li a:not(.button):hover {
  background: #2b2b2b;
}

.lt-ie9 .top-bar-section .has-dropdown > a {
  padding-right: 35px !important;
}

.lt-ie9 .top-bar-section .has-dropdown > a:after {
  border: solid 5px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  content: "";
  display: block;
  height: 0;
  margin-top: -2.5px;
  width: 0;
}

.lt-ie9 .top-bar-section .has-dropdown.moved {
  position: relative;
}

.lt-ie9 .top-bar-section .has-dropdown.moved > .dropdown {
  visibility: hidden;
}

.lt-ie9 .top-bar-section .has-dropdown:hover > .dropdown,
.lt-ie9 .top-bar-section .has-dropdown:active > .dropdown {
  visibility: visible;
}

.lt-ie9 .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  border: none;
  content: "\00bb";
  margin-top: -7px;
  right: 5px;
}

.lt-ie9 .top-bar-section .dropdown {
  background: transparent;
  left: 0;
  top: auto;
}

.lt-ie9 .top-bar-section .dropdown li a {
  background: #1e1e1e;
  line-height: 1;
  padding: 7px 15px;
  white-space: nowrap;
}

.lt-ie9 .top-bar-section .dropdown li label {
  background: #1e1e1e;
  white-space: nowrap;
}

.lt-ie9 .top-bar-section .dropdown li .dropdown {
  left: 100%;
  top: 0;
}

.lt-ie9 .top-bar-section > ul > .divider {
  border-bottom: none;
  border-left: solid 1px black;
  border-right: solid 1px #2b2b2b;
  border-top: none;
  clear: none;
  height: 45px;
  width: 0px;
}

.lt-ie9 .top-bar-section .has-form {
  background: #111111;
  height: 45px;
  padding: 0 15px;
}

.lt-ie9 .top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0;
}

.lt-ie9 .top-bar-section ul.right li .dropdown li .dropdown {
  right: 100%;
}


.tablesorter .header {
  cursor: pointer;
  padding-right: 26px;
  position: relative;
}

.tablesorter .header:hover {
  background-color: #ddd;
}

.tablesorter .header:before, .tablesorter .header:after {
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  right: 9px;
}

.tablesorter .header:before {
  content: "\f0d8";
  top: 5px;
}

.tablesorter .header:after {
  content: "\f0d7";
  top: 11px;
}

.tablesorter .header.headerSortDown:after {
  display: none;
}

.tablesorter .header.headerSortUp:before {
  display: none;
}

@media only screen and (max-width: 64em)  
{
  table.small-blocks, table.small-blocks thead, table.small-blocks tbody, table.small-blocks tbody tr, table.small-blocks thead tr th, table.small-blocks tbody tr td {
    display: block;
  }
  
  table.small-blocks {
    border: none;
  }
    
  table.small-blocks thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  table.small-blocks tr {
    border: 1px solid #ddd;
    margin-bottom: 1em;
  }
  
  table.small-blocks tbody tr td {
    border: none;
    position: relative;
    padding-top: 0;
  }
  
  table.small-blocks td.id {
    display: none;
  }
  
  table.small-blocks td.name {
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding-right: 0;
    padding-top: 0.375em;
    line-height: 1.1em;
    background-color: #e7e7e7;
    margin-bottom: 0.5em;
  }
  
  table.small-blocks td.estimate:before { content: "Schatting: "; }
  table.small-blocks td.comments:before { content: "Reacties: "; }
  table.small-blocks td.accepted:before { content: "Klantakkoord: "; }
  table.small-blocks td.invoiced:before { content: "Gefactureerd: "; }
  table.small-blocks td.state:before { content: "Voltooid: "; }
  table.small-blocks td.customer:before { content: "Klant: "; }
  table.small-blocks td.repository:before { content: "Repository: "; }
  table.small-blocks td.milestone:before { content: "Milestone: "; }
  table.small-blocks td.admin:before { content: "Admin: "; }
  table.small-blocks td.phone:before { content: "Telefoonnummer: "; }
  table.small-blocks td.email:before { content: "Emailadres: "; }
  table.small-blocks td.notifications:before { content: "Notificaties: "; }
  table.small-blocks td.freckle:before { content: "Freckle project: "; }
}