/*
   donderdag 26 mei 201614:46:16
   User: 
   Server: STATLER
   Database: Gitle
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Project
	DROP CONSTRAINT FKCFC6D85A4487297D
GO
ALTER TABLE dbo.Customer SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Project
	DROP CONSTRAINT FKCFC6D85A445B4684
GO
ALTER TABLE dbo.Application SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Project
	(
	Id bigint NOT NULL IDENTITY (1, 1),
	Guid uniqueidentifier NULL,
	IsActive bit NULL,
	Name nvarchar(255) NULL,
	Owner nvarchar(255) NULL,
	Repository nvarchar(255) NULL,
	MilestoneId int NULL,
	HourPrice decimal(18, 2) NULL,
	FreckleId int NULL,
	MilestoneName nvarchar(255) NULL,
	Slug nvarchar(255) NULL,
	FreckleName nvarchar(255) NULL,
	Information nvarchar(MAX) NULL,
	Comments nvarchar(MAX) NULL,
	Customer_id bigint NULL,
	Application_id bigint NULL,
	Type nvarchar(255) NULL,
	BudgetMinutes float(53) NULL,
	TicketRequiredForBooking bit NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Project SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_Project ON
GO
IF EXISTS(SELECT * FROM dbo.Project)
	 EXEC('INSERT INTO dbo.Tmp_Project (Id, Guid, IsActive, Name, Owner, Repository, MilestoneId, HourPrice, FreckleId, MilestoneName, Slug, FreckleName, Information, Comments, Customer_id, Application_id, Type, BudgetMinutes, TicketRequiredForBooking)
		SELECT Id, Guid, IsActive, Name, Owner, Repository, MilestoneId, CONVERT(decimal(18, 2), HourPrice), FreckleId, MilestoneName, Slug, FreckleName, Information, Comments, Customer_id, Application_id, Type, BudgetMinutes, TicketRequiredForBooking FROM dbo.Project WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_Project OFF
GO
ALTER TABLE dbo.[Document]
	DROP CONSTRAINT FKEF5E9578C4985D11
GO
ALTER TABLE dbo.UserProject
	DROP CONSTRAINT FK8F6DDF8C4985D11
GO
ALTER TABLE dbo.ProjectDocument
	DROP CONSTRAINT FKC6101C91C4985D11
GO
ALTER TABLE dbo.Label
	DROP CONSTRAINT FKE9D920E6C4985D11
GO
ALTER TABLE dbo.Issue
	DROP CONSTRAINT FK1A274C65C4985D11
GO
ALTER TABLE dbo.Issue
	DROP CONSTRAINT FK424A129F382A093
GO
ALTER TABLE dbo.Label
	DROP CONSTRAINT FK95F43EACF382A093
GO
ALTER TABLE dbo.UserProject
	DROP CONSTRAINT FKBC525856F382A093
GO
ALTER TABLE dbo.Booking
	DROP CONSTRAINT FK4DB400AFC4985D11
GO
ALTER TABLE dbo.Invoice
	DROP CONSTRAINT FKDC60817C4985D11
GO
ALTER TABLE dbo.FilterPreset
	DROP CONSTRAINT FKEA8C755CC4985D11
GO
DROP TABLE dbo.Project
GO
EXECUTE sp_rename N'dbo.Tmp_Project', N'Project', 'OBJECT' 
GO
ALTER TABLE dbo.Project ADD CONSTRAINT
	PK__Project__3214EC0703317E3D PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Project ADD CONSTRAINT
	FKCFC6D85A445B4684 FOREIGN KEY
	(
	Application_id
	) REFERENCES dbo.Application
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Project ADD CONSTRAINT
	FKCFC6D85A4487297D FOREIGN KEY
	(
	Customer_id
	) REFERENCES dbo.Customer
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FilterPreset ADD CONSTRAINT
	FKEA8C755CC4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FilterPreset SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Invoice ADD CONSTRAINT
	FKDC60817C4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Invoice SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Booking ADD CONSTRAINT
	FK4DB400AFC4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Booking SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Issue ADD CONSTRAINT
	FK1A274C65C4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Issue ADD CONSTRAINT
	FK424A129F382A093 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Issue SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Label ADD CONSTRAINT
	FKE9D920E6C4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Label ADD CONSTRAINT
	FK95F43EACF382A093 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Label SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ProjectDocument ADD CONSTRAINT
	FKC6101C91C4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ProjectDocument SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserProject ADD CONSTRAINT
	FK8F6DDF8C4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UserProject ADD CONSTRAINT
	FKBC525856F382A093 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UserProject SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[Document] ADD CONSTRAINT
	FKEF5E9578C4985D11 FOREIGN KEY
	(
	Project_id
	) REFERENCES dbo.Project
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.[Document] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
