<castle>
  <components>
    <!--component id="RepositoryClient" service="Gitle.Clients.GitHub.Interfaces.IRepositoryClient, Gitle.Clients.Github"
               type="Gitle.Clients.GitHub.RepositoryClient, Gitle.Clients.GitHub" livestyle="transient">
      <parameters>
        <token>27a63dd8d852be984aabde8fb724699cbc0b845b</token>
        <useragent>rlucassen</useragent>
      </parameters>
    </component-->
    <!--component id="EmailService"
               service="AppOnline.Model.Interfaces.Service.IEmailService, AppOnline.Model"
               type="AppOnline.Service.EmailService, AppOnline.Service"
               lifestyle="transient">
      <parameters>
        <hostName>beaker</hostName>
        <sourceAddress>duncan@auxilium.nl</sourceAddress>
        <bccAddresses>
          <array>
            <item>duncan@auxilium.nl</item>
          </array>
        </bccAddresses>
        <testMode>false</testMode>
      </parameters>
    </component>
    <component id="TemplateParser"
               service="AppOnline.Model.Interfaces.Service.ITemplateParserService, AppOnline.Model"
               type="AppOnline.Service.TemplateParserService, AppOnline.Service"
               lifestyle="transient">
      <parameters>
        <templateDirectoryPath>email</templateDirectoryPath>
      </parameters>
    </component-->
  </components>
</castle>