<castle>
  <components>
    <component id="EmailService" service="Gitle.Model.Interfaces.Service.IEmailService, Gitle.Model"
               type="Gitle.Service.EmailService, Gitle.Service" lifestyle="transient">
      <parameters>
        <hostName>beaker</hostName>
        <sourceAddress>noreply@auxilium.nl</sourceAddress>
        <bccAddresses>
          <array></array>
        </bccAddresses>
        <testMode>true</testMode>
      </parameters>
    </component>
  </components>
</castle>