<castle>
  <components>
    <component id="EmailService" service="Gitle.Model.Interfaces.Service.IEmailService, Gitle.Model"
               type="Gitle.Service.EmailService, Gitle.Service" lifestyle="transient">
      <parameters>
        <hostName>beaker</hostName>
        <sourceAddress>noreply@auxilium.nl</sourceAddress>
        <bccAddresses>
          <array></array>
        </bccAddresses>
        <testMode>false</testMode>
      </parameters>
    </component>
    <component id="TemplateParserService"
           type="Gitle.Service.TemplateParserService, Gitle.Service"
           service="Gitle.Model.Interfaces.Service.ITemplateParserService, Gitle.Model">
      <parameters>
        <templateDirectory>C:\\Working\\Gitle\\src\\Gitle.Web\\Views\\Template</templateDirectory>
      </parameters>
    </component>
    <component id="PdfExportService"
               type="Gitle.Service.PdfExportService, Gitle.Service"
               service="Gitle.Model.Interfaces.Service.IPdfExportService, Gitle.Model">
      <parameters>
        <wkhtmltopdfPath>C:\\Working\\Gitle\\tools\\\wkhtmltopdf\\wkhtmltopdf.exe</wkhtmltopdfPath>
      </parameters>
    </component>
    <component id="ProjectNumberService"
               type="Gitle.Service.ProjectNumberService, Gitle.Service"
               service="Gitle.Model.Interfaces.Service.IProjectNumberService, Gitle.Model" lifestyle="transient">
    </component>

  </components>
</castle>