<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="Auxilium.Castle.Components.Validator" version="3.2.0.1" targetFramework="net4" />
  <package id="Castle.Boo" version="2.0.9.3" targetFramework="net4" />
  <package id="Castle.Components.Binder" version="2.5.0.0" targetFramework="net4" />
  <package id="Castle.Components.Pagination" version="1.1.1.0" targetFramework="net4" />
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net4" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="Castle.Core-log4net" version="3.3.3" targetFramework="net46" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net46" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net46" />
  <package id="Castle.Windsor-log4net" version="3.3.0" targetFramework="net46" />
  <package id="CustomMonorail2" version="2.0.0.4" targetFramework="net4" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net46" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net46" />
  <package id="log4net" version="1.2.10" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net46" />
  <package id="NHibernate.Validator" version="1.3.2.4000" targetFramework="net4" />
</packages>